footer.entry-footer{

    span.edit-link{
        margin: 2em 2em;
        position: fixed;
        bottom: 0;
        right: 0;
       a.post-edit-link{
            display: inline-block;
            padding: 0.75rem 1.5rem;
            font-size: 1rem;
            font-weight: 600;
            color: white;
            background: linear-gradient(90deg,rgba(18, 109, 255, 1) 0%, rgba(11, 65, 153, 1) 100%);
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.25s ease, transform 0.1s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-decoration: none;
            &:hover{
                background-color: darken($primary-color, 10%); /* Darker */
 
            }
            &:active{
                transform: scale(0.97);
                background-color: darken($primary-color, 20%); /* Even darker */
            }
       } 
    }
}

footer.site-footer{
    position: relative;
    .site-info{
        background: $dark;
        padding: 1em 0;
        text-align: center;
        color: #272b44;
        a{
            text-decoration: none;
            color: #272b44;
            transition: ease-in-out 0.3s;
            // &:hover{
            //     color: $primary-color;
            // }
            &.webbandits{
                transition: all 0.3s ease;
                cursor: pointer;
                position: relative;
                &:before {
                    content: attr(data-text);
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: linear-gradient(270deg, #ff00c8, #00ffe7, #fffc00, #ff00c8);
                    background-size: 600% 600%;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: none;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }
                &:hover::before {
                    animation: gradientMove 3s ease infinite;
                    opacity: 1;
                }
                &:hover {
                    color: transparent;
                }
                @keyframes gradientMove {
                    0% { background-position: 0% 50%; }
                    50% { background-position: 100% 50%; }
                    100% { background-position: 0% 50%; }
                }
            }
        }
    }
} 
